* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    margin: 60px;
    height: 100vh;
    display: flex;
    background-color: #f0f2f5;
}

.left-part {
  
    display: flex;
    align-items: center;
}

.left-part .title{
   margin-left: 100px;
}

.left-part .title h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: -50px;
}

.left-part .title p{
    font-weight: 400;
}

 h1, .forgot{
    color: #1877f2;
}

.right-part{
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.IN{
    width:300px;
    height:40px;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
}

input:focus{
    border: 1px solid #1877f2;
    outline: none;
    border-radius: 5px;
}

.forgot{
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
}
hr{
    
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
}

.create-account{
    width: 200px;
   margin:0 auto;
   text-align: center;
}
.create{
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color:#42b72a;
    color: white;
    margin-bottom: 15px;
}

.login{
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    color: white;
}

.for-mid{
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 
}

.right-part .foot {
    text-align: center;
   margin-top: 30px;
}

.right-part .foot a{
 text-decoration: none;
}


@media screen  and (max-width:576px){
    .container{
        flex-direction: column;
        margin: auto;
    }

    .left-part .title h1{
        
        margin-top: 150px;
        margin-left: -30px;
    }

    .left-part .title p{
        display: none;
    }
    
}

@media screen  and (min-width:576px) and (max-width:800){
    .container{
        flex-direction: column;
        margin: auto;
    }

    .left-part .title h1{
        
        margin-top: 150px;
        
    }

    .left-part .title p{
        display: none;
    }
    
}